html, body{
    padding: 0;
    margin: 0;
    background-color: #000000;
    overflow: hidden;
}
.jango-info{
    display: none;
}
.screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.total-price{
    position: absolute;
    height: 15vh;
    font-size: 8vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: #000000;
}

.welcome{
    background-color: #35ba9b;
    color: #ffffff;
    z-index: 700;
}
.close{
    background-color: #d84452;
    color: #ffffff;
    z-index: 900;
}
.order{
    z-index: 800;
}

.product-list{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-auto-rows: minmax(2vh, 4vh);
    width: 100vw;
    height: 85vh;
    top: 0;
    position: absolute;
    overflow: hidden;
    font-size: 3vh;
}
.product-list p{
    margin: 0;
    padding: 0;
    overflow: hidden;
}